@charset "utf-8";

/* -- customization -- */

$family-primary: "Nunito Sans", BlinkMacSystemFont, -apple-system, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$blue: rgb(4, 138, 250);
$primary: $blue;

/* -- customization -- */

@import "../node_modules/bulma/sass/utilities/_all.sass";
